.card.custom {
  margin: 7px;
  /* width: 100%; */
  min-width: 210px;
  background: rgba(255, 255, 255, 0.2);
  /* border: 1px solid #fff; */
  border-radius: 10px;
  position: relative;
  height: auto;
}

.heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 30px 0px;
  margin-left: -10px;
}

.heading h3 {
  color: #fff;
}

.add-todo-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: -10px;
  margin-bottom: 30px;
}

.form-group {
  margin: 0px;
  width: 80%;
}

.form-group input {
  height: 50px;
}

button.btn.btn-primary.add-todo {
  width: calc(20% - 10px);
  height: 50px;
}


span.material-control-description {
  color: #fff;
  font-size: 21px;
  margin-left: 12px;
}

a.remove-todo {
  position: absolute;
  font-size: 45px;
  color: #fff;
  /* background: #000; */
  padding: 0;
  right: 8px;
  top: -4px;
  cursor: pointer;

  transition: all 0.1s ease-in-out;
}
a.remove-todo:hover{
transform: scale(1.1,1.1);
}
.custom-control.material-checkbox .material-control-indicator {
  width: 25px;
  height: 25px;
}
.custom-control.material-checkbox .material-control-input:checked ~ .material-control-indicator
{
  width: 15px;
}
.card.custom .card-body{
  min-height: 1px;
  padding: 2.75rem 9px;
}