
.loader-container
{
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0,0.8);
  width: 97vw;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 90vh;
  /* max-width: 522px; */
  /* margin: auto; */
}