<div class="container custom-form">
	
  <div class="form-wrapper">
	<h3>Welcome!</h3>
    <form [formGroup]="loginForm" (submit)="onSubmitLogin($event)">
		<h5 class="form-title mb-3">Login</h5>
      <div class="form-group">
        <input type="email" formControlName="email" class="form-control" id="emailAddress" placeholder="Enter your email">
      </div>
      <div class="form-group mb-4">
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Enter password">
      </div>
      <div *ngIf="email.invalid && !email.pristine">
        <p *ngIf="email.errors" style="color: red;padding: 1px 2px; font-size: 10px; background: #fff;"> Invalid Email</p>
      </div>
      <p style="color: red;padding: 1px 2px; font-size: 10px; background: #fff;" *ngIf="error">{{ error }}</p>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign in</button>
    </form>
     <div class="dropdown-divider"></div>
	<a class="lable-form-bottom" routerLink="/signup">New around here? Sign up</a>
  <!-- <a class="dropdown-item" href="#">Forgot password?</a>  -->
  </div>
</div>
