<div class="container custom-form">
	
	
    <div class="form-wrapper">
      <h3>Welcome!</h3>
      <form [formGroup]="registerForm" (submit)="onSubmitSignUp($event)">
          <h5 class="form-title mb-3">Register</h5>
      <div class="form-group">
        <input type="text" formControlName="name" required class="form-control" id="name" placeholder="Enter your Name">
      </div>
      <div class="form-group">
        <input type="email" formControlName="email" required class="form-control" id="emailAddress" placeholder="Enter your email">
      </div>
      <div class="form-group mb-4">
        <input type="password" formControlName="password" required class="form-control" id="password" placeholder="Enter password">
      </div>

      <div *ngIf="name.invalid && !name.pristine">
        <p *ngIf="name.errors.minlength" style="color: red;padding: 1px 2px; font-size: 10px; background: #fff;"> Name should be at least 5 characters.</p>
      </div>
      <div *ngIf="email.invalid && !email.pristine">
        <p *ngIf="email.errors" style="color: red;padding: 1px 2px; font-size: 10px; background: #fff;"> Invalid Email</p>
      </div>

      <div *ngIf="password.invalid && !password.pristine">
        <p *ngIf="password.errors.minlength" style="color: red;padding: 1px 2px; font-size: 10px; background: #fff;"> Password should be at least 5 characters.</p>
      </div>
      <p style="color: red;padding: 1px 2px; font-size: 10px; background: #fff;" *ngIf="error">{{ error }}</p>

      <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Sign Up</button>
    </form>
  <div class="dropdown-divider"></div>
	<a class="lable-form-bottom" routerLink="/">Already have an Account? Login</a>
      <!--<a class="dropdown-item" href="#">Forgot password?</a> -->
  </div>
</div>
